@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body {
    font-family: "Caveat", sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #97e897;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem 0;
}

#gameboard {
    border: 1px solid black;
    height: 100%;
}

.gameboardRow {
    display: flex;
    justify-content: center;
}

.gameboardCell {
    width: calc(100svh / var(--cols)); /* Use custom properties for responsive scaling */
    height: calc(100svh / var(--cols));
    background-color: #97e897;
}

.gameboardCellOdd {
    background-color: #7ecf7e;
}

.enemy {
    background-color: #ff7f7f;
    border-radius: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.player {
    background-color: #126dbc;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    padding: 5px;
    box-sizing: border-box;
    transform: rotate(90deg);
}

.cellImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-r {
    transform: rotate(90deg);
}

#main {
    display: flex;
    flex-direction: row;
    height: 100svh;
    overflow: hidden;
}


.signImage {
    display: block; /* Adjust to ensure image behaves correctly */
    width: 350px;
    height: auto; /* Maintain aspect ratio */
}

.signContainer {
    position: relative;
    display: inline-block;
    margin: auto;
}

.top-left {
    position: absolute;
    top: 73px;
    left: 10px;
    text-align: center;
    width: 128px;
    background-color: rgba(0, 0, 0, 0.6); /* Optional: To make text more readable */
    margin: 10px; /* Optional: To add some spacing from the edges */
    color: white; /* Adjust text color to stand out against the image */
    padding: 5px; /* Optional: Padding for better readability */
    font-size: 3em; /* Adjust as needed */
}

.result-modal {
    border: 4px saddlebrown solid;
    background: #eddfb4;
    max-width: 1200px;
    padding: 30px;
    border-radius: 8px;
    color: #000;
    font-family: 'Arial', sans-serif;
}

.modal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.resultContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

strong {
    color: red;
}

.result {
    font-size: 25px;
}

.modal-content {
    flex: 1;
    padding: 25px;
}

h2 {
    margin-top: 0;
    font-size: 50px;
    font-family: "Sofadi One", system-ui;
}

.name-input {
    width: 75%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: 2px solid saddlebrown;
    font-size: 20px;
    outline: none;
}

.start-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 150px;
}

.start-btn:hover {
    background-color: #218838;
}

.leaderboard-container {
    flex: 0.5;
    padding: 20px;
    background: saddlebrown;
    border-radius: 8px;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.leaderboard-container h3 {
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.leaderboard-list li {
    padding: 8px;
    background-color: #eddfb4;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.leaderboard-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.leaderboard-container::-webkit-scrollbar-track {
    background: #4e342e; /* Background of the track (container of the scrollbar) */
    border-radius: 5px;
}

.leaderboard-container::-webkit-scrollbar-thumb {
    background-color: #d7ccc8; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded edges for the scrollbar handle */
    border: 2px solid #4e342e; /* Gives a padding-like effect around the thumb */
}

.leaderboard-container::-webkit-scrollbar-thumb:hover {
    background-color: #c5b1a1; /* Lighter color when hovered */
}

.nameForm {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    #gameboard {
        width: 100svw; /* Use viewport width */
        max-height: 80svh;
    }
    .gameboardCell {
        width: calc(100svw / var(--rows));
        height: calc(100svw / var(--rows));
    }

    .gameboardRow {
        display: flex;
    }

    #main {
        flex-direction: column; /* Stack elements vertically */
    }

    .modal-container {
        width: 90vw;
    }
}
