@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body {
    font-family: "Caveat", sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #97e897;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem 0;
}

#gameboard {
    border: 1px solid black;
    height: 100%;
}

.gameboardRow {
    display: flex;
    justify-content: center;
}

.gameboardCell {
    width: calc(100svh / var(--cols));
    height: calc(100svh / var(--cols));
    background-color: #97e897;
}

.gameboardCellOdd {
    background-color: #7ecf7e;
}

.enemy {
    background-color: #ff7f7f;
    border-radius: 100%;
    box-sizing: border-box;
}

.player {
    background-color: #126dbc;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    box-sizing: border-box;
}

.cellImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-r {
    transform: rotate(90deg);
}

.player-d {
    transform: rotate(180deg);
}

.player-l {
    transform: rotate(270deg);
}

.player-u {
    transform: rotate(0deg);
}

#main {
    display: flex;
    flex-direction: row;
    height: 100svh;
    overflow: hidden;
}


.signImage {
    width: 350px;
    height: 900px;

    margin: auto;

    background-image: url("assets/sign.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.signContainer {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.top-left {
    position: absolute;
    top: 212px;
    left: 10px;
    text-align: center;
    width: 128px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    color: white;
    padding: 5px;
    font-size: 3em;
}

.result-modal {
    border: 4px saddlebrown solid;
    background: #eddfb4;
    width: 40%;
    padding: 30px;
    border-radius: 8px;
    color: #000;
    font-family: 'Arial', sans-serif;
    outline: none;
}

.modal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    outline: none;
}

.resultContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    outline: none;
}

strong {
    color: darkgreen;
}

.result {
    font-size: 25px;
}

.modal-content {
    flex: 1;
    padding: 25px;
}

h2 {
    margin-top: 0;
    font-size: 50px;
    font-family: "Sofadi One", system-ui;
}

.name-input {
    width: 75%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: 2px solid saddlebrown;
    font-size: 20px;
    outline: none;
}

.start-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 150px;
}

.start-btn:hover {
    background-color: #218838;
}

.leaderboard-container {
    flex: 0.5;
    padding: 20px;
    background: saddlebrown;
    border-radius: 8px;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.leaderboard-container h3 {
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.leaderboard-list li {
    padding: 8px;
    background-color: #eddfb4;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
}

#credit {
    z-index: 10000;
}

.leaderboard-container::-webkit-scrollbar {
    width: 8px;
}

.leaderboard-container::-webkit-scrollbar-track {
    background: #4e342e;
    border-radius: 5px;
}

.leaderboard-container::-webkit-scrollbar-thumb {
    background-color: #d7ccc8;
    border-radius: 10px;
    border: 2px solid #4e342e;
}

.leaderboard-container::-webkit-scrollbar-thumb:hover {
    background-color: #c5b1a1;
}

.nameForm {
    display: flex;
    flex-direction: column;
}

#credit {
    z-index: 10000;
    font-family: "JetBrains Mono", monospace;
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    color: #fff;
    text-align: right;
    padding: 0 15px;
    font-size: 0.75em;
    border-top-left-radius: 5px;

    text-shadow: 2px 1px 15px #000;
}

.score-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.score {
    font-size: 30px;
    color: #000;
}

.instruction {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #393838;
}


#ad {
    position: fixed;
    top: 0;
    z-index: 10000;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-family: "JetBrains Mono", monospace;

}

@media screen and (max-width: 1000px) {
    #gameboard {
        width: 100svw;
        max-height: calc((100svw / var(--rows))*var(--cols));
    }

    .gameboardCell {
        width: calc(100svw / var(--rows));
        height: calc(100svw / var(--rows));
    }

    .gameboardRow {
        display: flex;
    }

    #main {
        flex-direction: column;
        justify-content: flex-start;
    }

    .modal-container {
        width: 90vw;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    .name-input {
        font-size: 1em;
        margin: 0;
        padding: 5px;
        width: 140px
    }

    .start-btn {
        background-color: #28a745;
        color: #fff;
        padding: 5px 10px;
        margin-top: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        width: 150px;
    }

    .modal-content {
        padding: 0;
        max-width: 200px;
    }

    .signImage {
        margin: 0;
        padding: 0;
        width: 200px;
        background-image: url("assets/signMobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        max-height: 150px;
    }

    .top-left {
        position: absolute;
        top: 13px;
        left: -9px;
        text-align: center;
        width: 56px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 3px;
        font-size: 1.5em;
    }

    .leaderboard-container {
        font-size: 14px;
        padding: 10px;
    }

    .leaderboard-container h3 {
        margin-top: 0;
        text-align: center;
        color: #fff;
        font-size: 20px;
    }

    .result-modal {
        padding: 10px;
        width: 100%;
    }

    .leaderboard-list {
        width: 100%;
    }

    .modal-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
    }

    .modal-content {
        max-width: 150px !important;
    }

    .name-input {
        width: 100px;
    }

    .start-btn {
        width: 115px;
    }

    #credit {
        z-index: 10000;
        font-family: "JetBrains Mono", monospace;
        position: fixed;
        bottom: 0;
        right: 0;
        width: auto;
        color: #fff;
        text-align: right;
        padding: 0 15px;
        font-size: 0.25em;
        border-top-left-radius: 5px;

        text-shadow: 2px 1px 15px #000;
    }

    #ad {
        position: fixed;
        top: 0;
        z-index: 10000;
        left: 0;
        width: 100%;
        background-color: #000;
        color: #fff;
        padding: 2px;
        text-align: center;
        font-size: 0.7em;
    }
}

.arrowIcons {
    position: relative;
    top: 2px;
}

.leaderboard-list li {
    display: flex;
    justify-content: space-between;
}

.loading {
    color: white;
    text-align: center;
}
